
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE HTML>

<html>

<head>

    <title>NBA Players</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>


<body>

    <h1>Check Out Cool Stats! </h1>

    <ul>
        <li><a class="active" href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Register">Register</a></li>


    </ul>

    <div class="center">

        <h3>About</h3>

        <h4>
            This site is used to log NBA players baseed on their PPG, APG and RPG!

        </h4>

    </div>


</body>


</html>
